<!doctype html>
<html ng-app="addressBook">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.11/angular.min.js"></script>
  <script src="js/angular-translate.min.js"></script>
  <script src="js/app.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="http://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">

  <style>
    .odd {
      background-color: #d3d3d3;
    }
    .edited-true {
      display:none;
    }
    .table {
      width: 80%;
    }
    .data_row:hover {
     border-right: orange solid 5px;
    }
  </style>
</head>
<body>
  <h3>{{ 'ADDRESSBOOK' | translate}}:Angular</h3>

  <div ng-controller="LanguageController">
    {{ 'CHOOSE_LANGUAGE' | translate}}: 
    <select ng-init="language = languages[0]" ng-model="language" ng-options="l.name for l in languages" ng-change="changeLanguage(language.name)">
    </select>
  </div>

  <div ng-controller="FormController">
    <h4>Fill the data</h4>
    {{ 'GROUP_BY' | translate}}:
    <select ng-init="group = groups[0]" ng-model="group" ng-options="g for g in groupKeys" ng-change="changeGroup(group)">
      <option value="">-- choose group --</option>
    </select>
    
    <table class="table" class="table-stripped">
      <tr>
        <th translate="NAME" class="ng-scope"></th>
        <th translate="SURNAME" class="ng-scope"></th>
        <th translate="PHONE" class="ng-scope"></th>
        <th translate="GROUP" class="ng-scope"></th>
      </tr>
      <tr ng-repeat="item in items | filter:grouped" class="{{ isOdd($index) }} data_row" ng-click="edit($index)">
        <td>{{ item.name }}</td> 
        <td>{{ item.surname }}</td> 
        <td>{{ item.phone }}</td> 
        <td>{{ item.group }}</td>
      </tr>
    </table>

    <form ng-submit="add()">

      <span translate="NAME" class="ng-scope"></span>
      <input ng-model="item.name" required/>

      <span translate="SURNAME" class="ng-scope"></span>
      <input ng-model="item.surname"/>

      <span translate="PHONE" class="ng-scope"></span>
      <input ng-model="item.phone" required/>

      <span translate="GROUP" class="ng-scope"></span>
      <input ng-model="item.group" required/>

      <button>{{ stateSave?'FINISH':'ADD' | translate}}</button>
      <button ng-click="reset()">{{ 'RESET' | translate}}</button>

    </form>
  </div>
</body>
</html>
